:root {
  --blur-width: 50px;
}

body {
  overflow: hidden;
  -webkit-mask-image: linear-gradient(
    0.25turn,
    transparent,
    #000 var(--blur-width),
    #000 calc(100% - var(--blur-width)),
    transparent
  );
}

/* アニメーション出力部分ラッパーのCSS */
.animation-wrapper {
  transform: scale(0.6);
  animation: moveImage ease 6s infinite;
}
@keyframes moveImage {
  0% {
    transform: translateX(80%);
  }
  to {
    transform: translateX(-85%);
  }
}
/* アニメーション自体にはsteps刻みでパラパラ漫画としているため、ラッパーに移動用アニメーションを仕込む */

/* アニメーション出力部分のCSS */
.animation {
  width: 720px;
  height: 540px;
  background-image: url("./images/animations/potato01/potato01.sprite.png");
  background-repeat: no-repeat;
  animation: displaySpliteImage 0.5s steps(5) infinite;
}
@keyframes displaySpliteImage {
  to {
    background-position: -5px -2730px;
  }
}
